/* This file defines how custom elements will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: center;
     /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    background-repeat: repeat;
    color: #B9FFBD;
    font-size: 12px;
}
.site-box > a > p {
    color: red;
    font-weight: bold;
    margin-top: 15px;
}
.site-box > a > span {
    color: red;
}
.site-box .sitefeature {
    opacity: 0;
    height: 62px;
}